div.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
}
div.grid-item {
    background-color: rgb(106, 169, 252);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-size: 15px;
    text-align: left;
}
