{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register new user{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Create User">
</form>
{% endblock %}

{% block javascript %}
<script>
    $('#id_username').change(function() {
        console.log($(this).val());
        $.ajax({
            type: 'GET',
            url: "{% url 'accounts:check-username-unique' %}",
            data: {
                'username' : $(this).val()
            },
            dataType: "json",
            success: function (data) {
                if (data.is_not_unique){
                    alert('Username non univoco!');
                }
            }
        })
    })
</script>
{% endblock %}