{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Logged Out
{% endblock %}


{% block content %}
  <h4> You logged out </h4>
    <a href="{% url 'homepage' %}">
        Return to Homepage
    </a>
{% endblock %}