{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super}} - Login {% endblock head_title %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-4 text-center">
        <h2>TBD</h2>
        <form method="POST" >
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-success" value="Login">
        </form>
        <br>
        <p><a href="{% url 'accounts:user-create' %}" >Non sei ancora registrato? Registrati !</a></p>
    </div>

</div>

{% endblock content %}