{% comment %} posso scrivere qualsiasi commento
starter template copincollato da bootstrap
{% endcomment %}

{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
    <title>CARD KINGDOM</title>
</head>

   <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">


    <a href="/"><img  style="width: 6rem;"  src="https://3dprint.com/wp-content/uploads/2016/03/3dp_mtgtokens_magic_logo.png"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="container">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'homepage' %}">Home<span class="sr-only">(current)</span></a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.user.profile.is_vendor %}
                            <a class="dropdown-item" href="{% url 'accounts:vendor_profile' %}">Profilo</a>
                            <a class="dropdown-item" href="{% url 'card:add_card' %}">Vendi carte</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'accounts:user_profile' %}">Profilo</a>
                            <a class="dropdown-item" href="{% url 'accounts:cart' %}">Cart</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-dark" href="{% url 'accounts:logged-out' %}">Esci</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'accounts:user-create' %}">Registrazione</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

<div class="mt-5 pt-4">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
{% endif %}
</div>

</nav>

    <div id = "site-main-page" class = "container mt-3 pt-3">
         {% block content %}

         {% endblock %}
    </div>



     {% block javascript %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js%22%3E"> </script>

     {% endblock %}


  </body>
</html>