{% extends 'base.html' %}#

{% load static %}

{% block title %} Test {% endblock %}

{% block content %}
{% comment %}<link rel="stylesheet" type="text/css" href="{% static 'css/carddetail.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/carddetail.css' %}">
<h2>Nome carta: {{ Card.name }}</h2>
<h2>Nome set: {{ Card.set}}</h2>
<h2>Prezzo carta: {{ Card.price }}</h2>
<h2>Venditore: {{ Card.vendor}}</h2>
<img src="{{ Card.image.url}}" alt="{{ Card.name }}">

{% if request.user.profile.is_vendor %}
{% else %}
<a class="btn btn-primary" href="{% url 'card:add_to_cart' pk=Card.id %}"> Add to cart </a>
<a class="btn btn-danger" href="{% url 'card:remove_from_cart' pk=Card.id %}"> Remove from cart </a>
{% endif %}

<div class="mt-5 pt-4">
<h2>Prodotti simili</h2>
<div class="grid-container">
{% for item in raccomendations %}
<div class="grid-item">
<h2>{{ item.name }}</h2>
<img src="{{ item.image.url}}" alt="{{ item.name }}">
</div>
{% endfor %}
</div>
</div>
{% endblock %}