
{% extends 'base.html' %}#

{% load static %}
{% block content %}
<h1>Oggetti nel carrello</h1>
<div>
<table class="table"  id="aTable">
    <thead>
        <tr>
            <th> Oggetto </th>
            <th> Prezzo </th>
            <th> Quantità </th>
            <th> Venditore </th>
        </tr>
    </thead>

    <tbody>
        {% for item in listacquisti %}
        <tr>
            <td>{{ item.card.name }}</td>
            <td>{{ item.card.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.card.vendor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}