{% extends 'base.html' %}#
{% load static %}
{% block javascript %}

   <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/dist/easytimer.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="{% static 'js/home.js' %}"></script>

{% endblock %}
{% block title %}Cart{% endblock %}

{% block content %}

<h1>Riassunto ordine</h1>
<div>
<table class="table"  id="OrderTable">
    <thead>
        <tr>
            <th> Name </th>
            <th> Set </th>
            <th> Vendor </th>
            <th> Price </th>
            <th> Quantity </th>
            <th> Total Price </th>
        </tr>
    </thead>

    <tbody>
        {% for Card_order in object.items.all %}
        <tr>
            <td><a href="{% url 'card:card_detail' pk=Card_order.card.id %}">{{ Card_order.card.name }}</a></td>
            <td>{{ Card_order.card.set }}</td>
            <td><a href="{% url 'accounts:vendor_detail' pk=Card_order.card.vendor.id %}">{{ Card_order.card.vendor }}</a></td>
            <td>{{ Card_order.card.price }}</td>
            <th>{{ Card_order.quantity }}</th>
            <th>{{ Card_order.get_tot_price }}</th>
        </tr>
        {% endfor %}
            {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href="{% url 'accounts:buy' %}">Proceed to checkout</a>
    {% comment %}        <a class='btn btn-primary float-right' href="{% url 'homepage' %}">Continue shopping</a>       {% endcomment %}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>




</div>



{% endblock %}
