{% extends 'base.html' %}#
{% load static %}

{% block title %}Homepage{% endblock %}
{% block javascript %}

   <script src="{% static 'js/home.js' %}"></script>

{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<h1>Carte in anteprima</h1>
<div class="grid-container">
{% for Card in prime %}
<div class="grid-item">
<h2><a href="{% url 'card:card_detail' pk=Card.id %}">{{ Card.name }}</a></h2>
<img src="{{ Card.image.url}}" alt="{{ Card.name }}">
    <h2>{{ Card.price }}</h2>
</div>
{% endfor %}
</div>

<h1>Carte in Vendita</h1>
<div>


<table class="table"  id="CardTable">
    <thead>
        <tr>
            <th> Name </th>
            <th> Set </th>
            <th> Vendor </th>
            <th> Price </th>
        </tr>
    </thead>

    <tbody>
        {% for Card in cards %}
        <tr>
            <td><a href="{% url 'card:card_detail' pk=Card.id %}">{{ Card.name }}</a></td>
            <td>{{ Card.set }}</td>
            <td><a href="{% url 'accounts:vendor_detail' pk=Card.vendor.id %}">{{ Card.vendor }}</a></td>
            <td>{{ Card.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



</div>

{% if request.user.is_authenticated %}
   <p>  Logout: <a class="btn btn-primary" href="{% url 'accounts:logged-out' %}"> Logout </a>  </p>
{% else %}
   <p>  Registrazione: <a class="btn btn-primary" href="{% url 'accounts:user-create' %}"> Registrazione </a>  </p>
   <p>  Login: <a class="btn btn-primary" href="{% url 'accounts:login' %}"> Login </a>  </p>
   <p>  Logout: <a class="btn btn-primary" href="{% url 'accounts:logged-out' %}"> Logout </a>  </p>
{% endif %}

{% endblock %}


