{% extends 'base.html' %}#

{% load static %}

{% block title %} Test {% endblock %}

{% block content %}

<h1>Create Post Page</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit New Post</button>
</form>

{% endblock %}