{% extends 'base.html' %}#

{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}

<h1>Sell Card</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Vendi</button>
</form>

{% endblock %}