{% extends 'base.html' %}#

{% load static %}

{% block title %} Test {% endblock %}

{% block content %}

<h2>Username: {{ User.username }}</h2>
<h2>Email: {{ User.email }}</h2>
<div class="mt-5 pt-4">
<h2>Acquisti</h2>
</div>
<div>
<table class="table"  id="UserTable">
    <thead>
        <tr>
            <th> Numero d'Ordine </th>
            <th> Spesa </th>
        </tr>
    </thead>

    <tbody>
        {% for item in listacquisti %}
        <tr>
            <td><a href="{% url 'accounts:cart_display' pk=item.cart.id %}">{{ item.id }}</a></td>
            <td>{{ item.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% block javascript %}

   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
   <script src="{% static 'js/user.js' %}"></script>

{% endblock %}

</div>


{% endblock %}