{% extends 'base.html' %}#

{% load static %}
{% block javascript %}

   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
   <script src="{% static 'js/vendor.js' %}"></script>

{% endblock %}
{% block title %} Test {% endblock %}

{% block content %}

<h2>Username: {{ Vendor.username }}</h2>
<h2>Email: {{ Vendor.email }}</h2>

<div class="mt-5 pt-4">
<h2>Vendite</h2>
</div>

<div class="mt-5 pt-4">
<table class="table"  id="VendorTable">
    <thead>
        <tr>
            <th> Object </th>
            <th> Buyer </th>
            <th> Quantity </th>
            <th> Price </th>
            <th> Date </th>
        </tr>
    </thead>

    <tbody>
        {% for item in listavendite %}
        <tr>
            <td>{{ item.card.name }}</td>
            <td>{{ item.user }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.card.price }}</td>
            <td>{{ item.ordered_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




</div>

{% endblock %}