{% extends 'base.html' %}#

{% load static %}

{% block title %} Test {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/vendordetail.css' %}">
<h2>Username: {{ Vendor.username }}</h2>
<div class="mt-5 pt-4">
<h2>Valutazioni e commenti</h2>
</div>
{% if request.user.is_authenticated %}
<div class="mt-5 pt-4">
<p>  Submit: <a class="btn btn-primary" href="{% url 'accounts:add_post' pk=Vendor.id %}"> Scrivi Post </a>  </p>
</div>
{% endif %}
<div class="grid-container">
{% for post in listapost %}
<div class="grid-item">
  <h2>{{ post.author }}</h2>
  <p>{{ post.title }}</p>
  <p>{{ post.body }}</p>
  <span class="time-left">{{ post.date }}</span>
</div>
{% endfor %}
</div>


{% endblock %}
